.env
.env.*
!.env.example

node_modules/
**/node_modules/

*.tar
*.tar.gz
*.zip

voltcore/api/.env
voltcore/jenkins/*
!voltcore/jenkins/
!voltcore/jenkins/Jenkinsfile
voltcore/mongodb/
voltcore/minio/
voltcore/secrets/
voltcore/.credentials
voltcore/app/
voltcore/index.html
/index.html
/index2.html
/script.js
/styles.css

dashboard-reference-check*.png
NEXBOT*.jpg
*.spline

*.log
**/terraform/.terraform/
**/terraform/.terraform.lock.hcl
**/terraform/tfplan
